amqp==5.2.0
annotated-types==0.6.0
ansi2html==1.8.0
beautifulsoup4==4.12.2
billiard==4.2.0
blinker==1.7.0
blis==0.7.11
Brotli==1.1.0
catalogue==2.0.10
celery==5.3.6
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.16.0
colorama==0.4.6
commonregex==1.5.4
confection==0.1.4
contourpy==1.2.0
cycler==0.12.1
cymem==2.0.8
dash==2.14.1
dash-bootstrap-components==1.3.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
docopt==0.6.2
dtale==3.7.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
et-xmlfile==1.1.0
filelock==3.13.1
Flask==2.2.5
Flask-Compress==1.14
Flask-Cors==4.0.0
flask-ngrok==0.0.25
fonttools==4.44.0
future==0.18.3
gensim==4.3.2
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
iso639==0.1.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
kaleido==0.2.1
kiwisolver==1.4.5
kombu==5.3.4
langcodes==3.3.0
langdetect==1.0.9
langid==1.1.6
lxml==4.9.3
lz4==4.3.2
MarkupSafe==2.1.3
matplotlib==3.8.1
missingno==0.5.2
mlxtend==0.23.0
murmurhash==1.0.10
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
numpy==1.26.1
openpyxl==3.1.2
packaging==23.2
pandas==2.1.2
patsy==0.5.3
phonenumbers==8.13.26
Pillow==10.1.0
pipreqs==0.4.13
plotly==5.18.0
preshed==3.0.9
presidio-analyzer==2.2.351
prompt-toolkit==3.0.41
pybind11==2.11.1
pydantic==2.5.2
pydantic_core==2.14.5
pyparsing==3.1.1
pyphen==0.14.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.1
regex==2023.10.3
requests==2.31.0
requests-file==1.5.1
retrying==1.3.4
ruptures==1.1.8
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
six==1.16.0
smart-open==6.4.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
squarify==0.4.3
srsly==2.4.8
statsmodels==0.14.0
strsimpy==0.2.1
sweetviz==2.2.1
tenacity==8.2.3
textblob==0.17.1
textstat==0.7.3
thinc==8.2.1
threadpoolctl==3.2.0
tldextract==5.1.1
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
vine==5.1.0
wasabi==1.1.2
wcwidth==0.2.12
weasel==0.3.4
Werkzeug==2.2.3
xarray==2023.10.1
xlrd==2.0.1
yarg==0.1.9
zipp==3.17.0